progress[value] {
    -webkit-appearance: none;
     appearance: none;
  
    width: 250px;
    height: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-moz-progress-value {
    background-color: white;
    border-radius: 30px;
    background-color: orange;
}

progress[value]::-moz-progress-bar {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-color: white;
    border-radius: 30px;
    background-color: orange;
}